.image{
  width:50%;

}

.mat-table {
  width: 100%;
}

.main_table {
.mat-table {
  width: 100%;
}

.main_table {
  width: 100%;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.heading{
  color:rgb(69, 2, 2);
  font-weight: 1000;
  font-size: 15px;
}
