.ers-login__box{
  padding: 5%;
}
.style{
margin-top: 7%;
margin-left: 36%
}
.ers-login__log{
  margin-left: 33%;
  margin-top: 3%;
  font-family:'Courier New', Courier, monospace;
  color: #1B253C;
  font-weight: 1000;
}

